@media (min-width: 320px) and (max-width: 480px){
    .container {      
    margin: 0 0 0 -15px !important; 

    }
  }
  body {
    min-width: 310px;
    max-width: 800px;
    height: 400px;
    margin: 0 auto;
  }
  h2 {
    font-family: Arial;
    font-size: 2.5rem;
    text-align: center;
  }
  .container {
  min-width: 310px;
  height: 400px;
  margin: 0 auto;
  }

  
  /* Sidebar menu  */
  .m-open{
    z-index: 1;
  }
.sidenav {
height: 100%;
width: 0;
position: fixed;
z-index: 2;
top: 0;
left: 0;
background-color: #111;
overflow-x: hidden;
transition: 0.5s;
padding-top: 60px;
}

.sidenav a {
padding: 8px 8px 8px 32px;
text-decoration: none;
font-size: 25px;
color: #818181;
display: block;
transition: 0.3s;
}

.sidenav a:hover {
color: #f1f1f1;
}

.sidenav .closebtn {
position: absolute;
top: 0;
right: 10px;
font-size: 36px;
margin-left: 50px;
}

.m-open{
position: fixed;
top: 0;
left: 10px;  
}
@media only screen and (min-width: 1200px){
  .m-open{
  position: fixed !important;   
}
}

@media screen and (max-width: 600px) {
.sidenav {padding-top: 15px;}
.sidenav a {font-size: 18px;}
.m-open{position: inherit !important;}  
}
@media screen and (max-width: 768px) and (max-width: 992px) {
.sidenav {padding-top: 15px;}
.sidenav a {font-size: 18px;}
.m-open{position: inherit !important;}  
}